.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  float: left;
  padding-left: 50px;
}
.footer ul {
  padding-top: 5px;
}
.footer li {
  padding-right: 50px;
}